<footer class="footer bg-dark text-light">
  <div class="row m-0 justify-content-center">
    <div class="col-auto footer-component">
      <i class="fa fa-map-marker"></i>
      31420 St André - Haute Garonne - France
    </div>
    <div class="col-auto footer-component">
      <i class="fa fa-phone"></i>
      05 61 90 43 04
    </div>
    <div class="col-auto footer-component">
      <i class="fa fa-mobile-phone"></i>
      06 48 84 38 32
    </div>
    <div class="col-auto footer-component">
      <span class="footer-title">Siren</span>531 806 214
    </div>
  </div>
</footer>
