<header class="header bg-dark text-light">
    <div class="row m-0 justify-content-center">
		<div class="container">
			<div class="navbar-header">
			<h1 class="brand brand-name navbar-left">Des Canailles de la Bergerie</h1>
			</div>
			
			<div class="collapse navbar-collapse navbar-right" id="myNavbar">

				<div class="col-auto">
					<a href="#Accueil">Accueil</a>
				</div>
				<div class="col-auto">
					<a href="#Portées">Portées</a>
				</div>
				<div class="col-auto">
					<a href="#Femelles">Femelles</a>
				</div>
				<div class="col-auto">
					<a href="#Mâles">Mâles</a>
				</div>
				<div class="col-auto">
					<a href="#Facebook">Facebook</a>
				</div>

			</div>
		</div>
    </div>
</header>