.header-area {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  color: #fff;
}
.header-area li {
  list-style: none;
}
.header-area ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
.header-area .main-menu ul {
  text-align: right;
}
.header-area .main-menu ul li, .header-area .social-links ul li {
  display: inline-block;
}
.header-area .main-menu ul li {
  margin-left: 45px;
  text-align: right;
}
.header-area .main-menu ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  padding: 0 0 7px 0;
  font-family: "Paytone One", sans-serif;
  position: relative;
}
.header-area .main-menu ul li:first-child a {
  padding-left: 0;
}
.header-area .main-menu ul li a::before {
  position: absolute;
  content: "";
  background: #1ad61d;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
.header-area .main-menu ul li a.active::before {
  opacity: 1;
}
.header-area .social-links ul li {
  margin-right: 10px;
  font-size: 1.3rem;
}
.header-area .social-links ul li a {
  --social-link-size: 30px;
  display: inline-block;
  border-radius: 50%;
  transition: 0.3s;
  width: var(--social-link-size);
  height: var(--social-link-size);
  line-height: var(--social-link-size);
  text-align: center;
}
.header-area .social-links ul li a:hover i {
  color: white;
  transition: 0.3s;
}
.fa-facebook {
  color: #3379f1;
}
.header-area .social-links ul li .a-facebook:hover {
  background-color: #1e66e2;
}
.fa-twitter {
  color: #41b1f5;
}
.header-area .social-links ul li .a-twitter:hover {
  background-color: #20a3f3;
}
@font-face {
  font-family: creamCake;
  src: url('src/assets/font/Cream Cake.ttf');
}
.title {
  font-family: creamCake, serif;
  font-size: 3.2rem;
  line-height: 4rem;
  padding-left: 2rem;
}
