<div class="header-area p-0 container">
  <div class="row align-items-center m-0">
    <div class="col-lg-auto d-none d-lg-block left-section">
      <div class="social-links">
        <ul>
          <li>
            <a href="#" class="a-facebook"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a href="#" class="a-twitter"><i class="fa fa-twitter"></i></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg d-none d-lg-block title">
      Des Boulis de la Bergerie
    </div>
    <div class="col-lg-6">
      <div class="main-menu d-none d-lg-block right-section">
        <nav>
          <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a class="active" href="Menu.html">Portées</a></li>
            <li><a href="about.html">Mâles</a></li>
            <li><a href="#">Femelles<i class="ti-angle-down"></i></a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-12">
      <div class="mobile_menu d-block d-lg-none"></div>
    </div>
  </div>
</div>
