<div class="my-slider">
  <app-carte-portee [srcImg]="'assets/img/placeholder-portrait-chien.jpg'"></app-carte-portee>
  <app-carte-portee [srcImg]="'assets/img/placeholder-portrait-chien.jpg'"></app-carte-portee>
  <app-carte-portee [srcImg]="'assets/img/placeholder-portrait-chien.jpg'"></app-carte-portee>
  <app-carte-portee [srcImg]="'assets/img/placeholder-portrait-chien.jpg'"></app-carte-portee>
  <app-carte-portee [srcImg]="'assets/img/placeholder-portrait-chien.jpg'"></app-carte-portee>
</div>
