#slider-portee {
  margin-top: 1rem;
}
.carousel-cell {
  width: 30%; /* half-width */
  margin-right: 10px;
}
carousel.slide-animated slide.item {
  animation-duration: 1s;
  animation-fill-mode: both;
}
carousel.slide-animated slide.item.active {
   width: 100%;
   animation-name: carouselSlideIn;
}
carousel.slide-animated slide.item:not(.active) {
   display: table-cell;
   animation-name: carouselSlideOut;
}

@keyframes carouselSlideIn {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
@keyframes carouselSlideOut {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
