<app-carte [srcImg]="'assets/img/placeholder-portrait-chien.jpg'">
	<h5 class="card-text">{{ portee.nom }}</h5>
<div>{{ portee.race }} nés le <span class="date">{{ portee.getDateNaissanceString() }}</span></div>
	<div>
		Disponible :
		<span *ngIf="getNbMales()"><span class="male">{{ getNbMales() }}</span></span>
		<span *ngIf="getNbMales() !== '' && getNbFemelles() !== ''"> - </span>
		<span *ngIf="getNbFemelles()"><span class="femelle">{{ getNbFemelles() }}</span></span>
		 à partir du <span class="date">{{ portee.getDateDisponibleString() }}</span>
	</div>
</app-carte>
