<div id="content" class="row" role="main">
	<app-carte-chiot [srcImg]="'assets/img/placeholder-paysage-chien.jpg'" class="col-xs-12 col-md-4 col-xl-3 p-4"></app-carte-chiot>
	<app-carte-chiot [srcImg]="'assets/img/placeholder-paysage-chien.jpg'" class="col-xs-12 col-md-4 col-xl-3 p-4"></app-carte-chiot>
	<app-carte-chiot [srcImg]="'assets/img/placeholder-paysage-chien.jpg'" class="col-xs-12 col-md-4 col-xl-3 p-4"></app-carte-chiot>
	<app-carte-chiot [srcImg]="'assets/img/placeholder-paysage-chien.jpg'" class="col-xs-12 col-md-4 col-xl-3 p-4"></app-carte-chiot>
	<app-carte-chiot [srcImg]="'assets/img/placeholder-paysage-chien.jpg'" class="col-xs-12 col-md-4 col-xl-3 p-4"></app-carte-chiot>
	<app-carte-chiot [srcImg]="'assets/img/placeholder-paysage-chien.jpg'" class="col-xs-12 col-md-4 col-xl-3 p-4"></app-carte-chiot>
	<app-carte-chiot [srcImg]="'assets/img/placeholder-paysage-chien.jpg'" class="col-xs-12 col-md-4 col-xl-3 p-4"></app-carte-chiot>
	<app-carte-chiot [srcImg]="'assets/img/placeholder-paysage-chien.jpg'" class="col-xs-12 col-md-4 col-xl-3 p-4"></app-carte-chiot>
	<app-carte-chiot [srcImg]="'assets/img/placeholder-paysage-chien.jpg'" class="col-xs-12 col-md-4 col-xl-3 p-4"></app-carte-chiot>
</div>