:root {
  --footer-height: 40px;
  --header-height: 4rem;
  --accent-color: #5aef5a;
  --darken-accent-color: #54c154;
}
.male {
	color: cornflowerblue;
	font-weight: 500;
}

.femelle {
	color: hotpink;
	font-weight: 500;
}

.date {
	font-weight: 500;
}
body {
  background-color: #212529;
  color: #fff;
}
.big-p {
  padding: 1rem 3rem;
}
a.fancy-link {
    display: inline-block;
    color: inherit !important;
    text-decoration: none;
}
.grow {
  transition: all .1s ease-out;
  transform: scale(0.95);
}
.grow:hover {
  transform: scaleX(1);
}
