:root {
  --footer-height: 40px;
  --header-height: 4rem;
}
.male {
	color: cornflowerblue;
	font-weight: 500;
}

.femelle {
	color: hotpink;
	font-weight: 500;
}

.date {
	font-weight: 500;
}
body {
  background-color: #212529;
  color: #fff;
}
