:root {
  --footer-height: 40px;
  --header-height: 4rem;
  --accent-color: #dc282e;
  --blue-color: #3379f1;
  --blue-dark-color: #1e66e2;
  --blue-light-color: #629aff;
  --pink-color: #c636ac;
  --pink-dark-color: #ab1f91;
  --pink-light-color: #fb59dd;

}
.male {
	color: var(--blue-light-color);
	font-weight: 500;
}

.femelle {
	color: var(--pink-light-color);
	font-weight: 500;
}

.date {
	font-weight: 500;
}
body {
  background-color: #212529;
  color: #fff;
}
.big-p {
  padding: 1rem 3rem;
}
a.fancy-link {
    display: inline-block;
    color: inherit !important;
    text-decoration: none;
}
.grow {
  transition: all .1s ease-out;
  transform: scale(0.95);
}
.grow:hover {
  transform: scaleX(1);
}

.carousel-item {
    margin-right: 0;
}
