<div id="content" class="row" role="main">
	<app-carte-reproducteur [srcImg]="'assets/img/placeholder-paysage-chien.jpg'" class="col-xs-12 col-md-6 col-xl-4 my-3"></app-carte-reproducteur>
  <app-carte-reproducteur [srcImg]="'assets/img/placeholder-portrait-chien.jpg'" class="col-xs-12 col-md-6 col-xl-4 my-3"></app-carte-reproducteur>
  <app-carte-reproducteur [srcImg]="'assets/img/placeholder-paysage-chien.jpg'" class="col-xs-12 col-md-6 col-xl-4 my-3"></app-carte-reproducteur>
  <app-carte-reproducteur [srcImg]="'assets/img/placeholder-paysage-chien.jpg'" class="col-xs-12 col-md-6 col-xl-4 my-3"></app-carte-reproducteur>
  <app-carte-reproducteur [srcImg]="'assets/img/placeholder-portrait-chien.jpg'" class="col-xs-12 col-md-6 col-xl-4 my-3"></app-carte-reproducteur>
  <app-carte-reproducteur [srcImg]="'assets/img/placeholder-paysage-chien.jpg'" class="col-xs-12 col-md-6 col-xl-4 my-3"></app-carte-reproducteur>
</div>
