<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <h2>Enregistrer une nouvelle portée</h2>
    <form [formGroup]="porteeForm" (ngSubmit)="onSavePortee()">
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom"
               class="form-control" formControlName="nom">
      </div>
      <div class="form-group">
        <label for="race">Race</label>
        <input type="text" id="race"
               class="form-control" formControlName="race">
      </div>
      <div class="form-group">
        <label for="dateNaissance">Date de naissance</label>
        <input type="date" id="dateNaissance"
               class="form-control" formControlName="dateNaissance">
      </div>
      <div class="form-group">
        <label for="pere">Père</label>
        <input type="text" id="pere"
               class="form-control" formControlName="pere">
      </div>
      <div class="form-group">
        <label for="mere">Mère</label>
        <input type="text" id="mere"
               class="form-control" formControlName="mere">
      </div>
      <div class="form-group">
        <label for="image">Ajouter une image</label>
        <div class="">
          <input id="image" type="file" (change)="detectFiles($event)" class="" accept="image/*">
          <p *ngIf="fileIsUploading">Chargement...</p>
          <p [ngClass]="fileUploaded ? 'text-success' : 'text-danger'">{{ fileUploadResult }}</p>
        </div>
      </div>
      <button class="btn btn-success" [disabled]="porteeForm.invalid || fileIsUploading"
            type="submit">Enregistrer
      </button>
    </form>
  </div>
</div>
